body {
    background-color: #eaecef !important;
}

.background-radial-gradient > div > div {
    min-height: 73vh;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

#submitBtn {
    font-size: 14px;
    font-weight: 700;
    background-color: #ffe53b;
    box-shadow: 0 6px 20px 0 rgb(255 237 0 / 39%);
}

.login-account {
    color: #000;
    font-size: 25px;
    text-align: right;
    font-weight: 900;
    margin: 30px 50px 0;
}